<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>
<div id="app">
    <input type="submit" value="测试springmvc处理Ajax请求" @click="testAjax()"><br>
    <input type="submit" value="使用@RequestBody处理json格式的请求参数" @click="testRequetBody()"><br><br>
    <a th:href="@{/test/ResponseBody}">测试@ResponseBody注解响应浏览器数据</a><br>
    <input type="submit" value="使用@ResponseBody注解响应json格式数据" @click="testResponseBody()"><br><br>
    <a th:href="@{/test/down}">下载图片</a>
    <form th:action="@{/test/up}" method="post" enctype="multipart/form-data">
       头像： <input type="file" name="photo">
        <input type="submit" value="上传">
    </form>
</div>
<h1>index.html</h1>
<script type="text/javascript" th:src="@{/js/vue.js}"></script>
<script type="text/javascript" th:src="@{/js/axios.min.js}"></script>
<script type="text/javascript">
    var vue = new Vue(
        {
            el:"#app",
            methods:{
                testAjax(){
                    axios.post(
                        "/SpringMVC/test/ajax?id=10001",
                        {username:"admin",password:"123456"}
                    ).then(
                        response=>{
                            console.log(response.data);
                        }
                    );
                },
                testRequetBody(){
                    axios.post(
                        "/SpringMVC/test/RequestBody/json",
                        {username: "张三",gender:"男",age:18,id:1001,password:"admin"}
                    ).then(   //then是请求成功后的操作
                        response=>{
                            console.log(response.data);
                        }
                    )
                },
                testResponseBody(){
                    axios.post(
                        "/SpringMVC/test/ResponseBody/json"
                    ).then(
                        response=>{
                            console.log(response.data)
                        }
                    )
                }
            }
        }
    )
</script>
</body>
</html>