<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>
<h1>这是首页</h1>
<a th:href="@{success}">第二个界面</a>
<a th:href="@{abc}">第三个界面</a>
<form th:action="@{/hello}" method="post">
    <input type="submit" value="测试@RequestMapping注解的method属性">
</form>

<a th:href="@{/hello?username=admin&password=root}">测试@RequestMapping的param属性</a><br>
<a th:href="@{/hello(username='admin')}">测试@RequestMapping的param属性</a><br>
<a th:href="@{/a2a/test/ant}">测试@RequestMapping注解支持ant风格路径</a><br>
<a th:href="@{/test/rest/admin/1}">测试@RequestMapping注解的value属性中的占位符</a><br>
<hr>
<form th:action="@{/param/servletAPI}" method="post">
    用户名:<input type="text" name="username"><br>
    用户名:<input type="password" name="password"><br>
    <input type="submit" value="登录">
</form>
<hr>
<form th:action="@{/param}" method="post">
    用户名:<input type="text" name="userName"><br>
    用户名:<input type="password" name="password"><br>
    <input type="submit" value="登录(第二种方式，通过控制器方法形参获取请求参数）">
</form>

<form th:action="@{/param/pojo}" method="post">
    用户名:<input type="text" name="username"><br>
    用户名:<input type="password" name="password"><br>
    <input type="submit" value="登录(转换成实体类）">
</form>
<br>
<hr>
<a th:href="@{/test/mav}">测试通过ModelAndView向请求域共享数据</a><br>
<a th:href="@{/test/model}">测试通过Model向请求域共享数据</a><br>
<a th:href="@{/test/modelMap}">测试通过modelMap向请求域共享数据</a><br>
<a th:href="@{/test/map}">测试通过map向请求域共享数据</a><br>
<a th:href="@{/test/session}">测试向会话域共享数据</a><br>
<a th:href="@{/test/application}">测试向应用域共享数据</a><br>
<a th:href="@{/test/view/thymeleaf}">测试SpringMVC的视图ThymeleafView</a><br>
<a th:href="@{/test/view/forward}">测试SpringMVC的视图InternalResourceView</a><br>
<a th:href="@{/test/view/redirect}">测试SpringMVC的视图RediretView</a><br>

</body>
</html>